/* ==========================================================================
   Typography
   ========================================================================== */

$alpha : 2em;
$beta : 1.5em;
$gamma : 1.17em;
$delta : 1em;
$epsilon : .83em;
$zeta : .67em;

/* ==========================================================================
   Colors
   ========================================================================== */
$red : rgba(255, 0, 0, 1);

$blue : rgba(0, 117, 232, 1);
$blue-light : rgba(102, 204, 204, 1);

$green : rbga(0, 171, 77, 1);
$green--light : rgba(94, 185, 72, 1);

$yellow : rgba(255, 212, 0, 1);

$orange : rgba(255, 102, 0, 1);
$orange-light : (255, 181, 0, 1);

$gray7: #777;
$gray9: #939598;
$grayC: #ccc;
$grayD: #ddd;
$grayE: #e6e6e6;
$gray3: #333;
$black: #000;
$white: #FFF;
